.float-right{
    float: right;
}

.select2-search__field {
    width: 100% !important;
}

.search-panel-box {
    padding: 6px 15px;
}
.panel-box {
    padding: 6px 0;
}

.no-margin {
    margin: 0;
}

.item-preview-img {
    height: 96px;
    width: 96px;
}
