{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block head %}
<title>Welcome</title>
{% endblock %}

{% block body %}
<!-- Main -->
<div class="container">
    <!-- upper section -->
    <div class="row">
        {{ macros.show_flashed_messages(is_success) }}
        <form action="{{url_for('index')}}" id="index_form" method="GET">
            {{ form.page(id='page_field',class='hidden') }}
            <div class="col-xs-12">
                <h3><i class="glyphicon glyphicon-briefcase"></i> Latest items
                    {% if current_user.is_authenticated %}
                    <a href="{{url_for('item_new')}}" class="btn btn-info float-right"><i class="glyphicon glyphicon-plus-sign"></i> Create item</a>
                    {% endif %}
                </h3>
                <hr>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-5 search-panel-box">
                {{ form.query(class='form-control', placeholder="Search items...") }}
            </div>
            <div class="col-sm-5 search-panel-box">
                <div class="select2-wrapper">
                    <div class="form-group no-margin">
                        <div class="input-group input-group-sm select2-bootstrap-prepend">
                            <span class="input-group-addon">
                                {{ form.filterbycat(id='filterby') }} Filter by category
                            </span>
                            {{ form.categories(id='select2-filterby',class='form-control select2') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 search-panel-box">
                <button class="btn btn-block btn-success">Search</button>
            </div>
        </form>
        <!-- left -->
    </div>
    {{ macros.render_pagination(pagination) }}
    <div class="row">
        <div class="col-xs-12">
            {% for item in items %}
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-left media-middle">
                            <img src="{{ item.default_picture_url }}" alt="Item image" class="item-preview-img"/>
                        </div>
                        <div class="media-body">
                            <h3 class="list-group-item-heading">{{ item.name|e }}</h3>
                            <p class="list-group-item-text">Author: <em>{{ current_user.nickname }}</em></p>
                            <p class="list-group-item-text">Created: <em>{{ momentjs(item.created_date).calendar() }}</em> | Updated: <em>{{ momentjs(item.updated_date).calendar() }}</em></p>
                            <p class="list-group-item-text">Categories:
                                {% for cat in item.categories.all() %}
                                    <span class="badge">{{ cat.name }}</span>&nbsp;
                                {% endfor %}
                            </p>
                            <div class="panel-box">
                                <a href="{{url_for('item_detail', item_id=item.id)}}" class="btn btn-sm btn-success">
                                    <i class="glyphicon glyphicon-new-window"></i> View item details
                                </a>
                                {% if item.author == current_user %}
                                <a href="{{url_for('item_edit', item_id=item.id)}}" class="btn btn-sm btn-info">
                                    <i class="glyphicon glyphicon-edit"></i> Edit
                                </a>
                                <form action="{{url_for('item_delete', item_id=item.id)}}" class="form-delete" method="POST">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="glyphicon glyphicon-remove"></i> Delete
                                    </button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {{ macros.render_pagination(pagination) }}
</div><!--/container-->
<!-- /Main -->
<footer class="text-center">
    <p>
        <i class="glyphicon glyphicon-list-alt"></i> Feeds: <a href="{{ url_for('recent_feed') }}">Atom</a> | <a href="{{ url_for('recent_json') }}">JSON</a>
    </p>
    Project # 3 for Udacity's fullstack nanodegree by <a href="http://github.com/davcs86"><strong>davcs86</strong></a>
</footer>
{% endblock %}
