{% extends "base.html" %}
{% block head %}
    <title>Item details - {{ item.name }}</title>
{% endblock %}

{% block body %}
<div class="container">
    <div style="margin-top:50px;" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Item details</div>
            </div>
            <div style="padding-top:20px" class="panel-body" >
                <div class="row">
                    <div class="col-md-5">
                        <img src="{{ item.default_picture_url }}" alt="Item image" class="img-responsive"/>
                        <div class="panel-box text-center">
                            {% if item.author == current_user %}
                            <a href="{{url_for('item_edit', item_id=item.id)}}" class="btn btn-sm btn-info">
                                <i class="glyphicon glyphicon-edit"></i> Edit item
                            </a>
                            <form action="{{url_for('item_delete', item_id=item.id)}}" class="form-delete" method="POST">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="glyphicon glyphicon-remove"></i> Delete item
                                </button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h3 class="list-group-item-heading">{{ item.name|e }}</h3>
                        <p class="list-group-item-text"><strong>Author:</strong> <em>{{ current_user.nickname }}</em></p>
                        <p class="list-group-item-text"><strong>Created:</strong> <em>{{ momentjs(item.created_date).calendar() }}</em></p>
                        <p class="list-group-item-text"><strong>Updated:</strong> <em>{{ momentjs(item.updated_date).calendar() }}</em></p>
                        <p class="list-group-item-text"><strong>Categories:</strong>
                            {% for cat in item.categories.all() %}
                                <span class="badge">{{ cat.name }}</span>&nbsp;
                            {% endfor %}
                        </p>
                        <div class="list-group-item-text"><strong>Description:</strong>
                            <p>{{ item.description|e }}</p>
                        </div>
                        <div class="panel-box text-right">
                            <a href="{{url_for('index')}}" class="btn btn-sm btn-default">
                                <i class="glyphicon glyphicon-arrow-left"></i> Go back to index
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 <script>
    jQuery(function($){
        {% if item_image_url %}
            window.createPreviews("{{ item_image_url }}");
        {% else %}
            window.createPreviews();
        {% endif %}
    });
 </script>
{% endblock %}
